BLOCKFROST_API_KEY="preprodTgxvL96N4gkbUcj6wXwCZRfkyrdqIBon"
KOIOS_TOKEN="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhZGRyIjoic3Rha2UxdXlnajcwcnNhcWY4ejV3NnNmNGEzMDhkNW5wMDA2c2d6MHdzdGt0YXVxM25zNmNsM3U3cXgiLCJleHAiOjE4MTAzNjcxOTAsInRpZXIiOjEsInByb2pJRCI6Ikh5ZHJhLUNvdXJzZS0yMDI2In0.emFG__CE16ibsceQuRFAnIlvfT5haV06qD2bYCqCalg"
APP_NETWORK="preprod"
APP_MNEMONIC="fame volcano bike castle pear limb process pact clown drop dutch family doll ready flower decline curve rescue style reform gap ski network holiday"
NEXTAUTH_SECRET="26ujeSHYZG+CYITROeDCEmZw6vFvKCcvXIl77lLMA8Q="
NEXTAUTH_URL="http://localhost:3000"
APP_WALLET_ADDRESS="addr_test1qrr879mjnxd3gjqjdgjxkwzfcnvcgsve927scqk5fc3gfs2hs03pn7uhujentyhzq3ays72u4xtfrlahyjalujhxufsqdeezc0"

