APP_MNEMONIC="fame volcano bike castle pear limb process pact clown drop dutch family doll ready flower decline curve rescue style reform gap ski network holiday"
BLOCKFROST_API_KEY="previewB0t0eC8F6j6ncdErw88gZy53vI3Hxy9R"
KOIOS_TOKEN="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhZGRyIjoic3Rha2UxdTl0Yzhjc2Vsd3Q3ZnZlNGp0M3FnN2pnMDl3Mm45NTNsN21qZndsN2Z0bnd5Y3EwYXN6cHIiLCJleHAiOjE3ODgwOTMxODMsInRpZXIiOjEsInByb2pJRCI6InRpcGphciJ9.zZn0sXrSWgP519WU0477SzGvxhRGXXTp1ZXmpJkyE8U"
NEXTAUTH_SECRET="ImRl6EXhSo2FISm6sHhJNcVqDQtIrLxfml0Gw4wAe5g="
NEXTAUTH_URL="http://localhost:3000"
APP_NETWORK="preview"
SPEND_ADDRESS="addr_test1wps7xts4e28ykdmg0uq86y6x050wsse86q42eytg6ljz5tqmrcwgm"
DATABASE_URL="postgres://default:EJmHNQfeX23d@ep-withered-wave-515335-pooler.ap-southeast-1.aws.neon.tech/verceldb?sslmode=require"
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="des4z4tss"
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET="hydrapact"